/* Couleur dans les menus de sélection */
span.orange	{ color: #eb7b3b; }
span.blue	{ color: #5ab7af; }
span.green	{ color: #c6d75e; }
span.yellow	{ color: #fce96d; }

/* Paramétre de la grille */
.grid{
    position: relative;
    width: 100%;
    background-image: url("../img/bg-shapeshift.png");
    background-position: left top;
}
.grid div{
    height: 24px;
    width: 24px;
    z-index: 3;
    display:inline-block;
}

/* Propriété pour les blocs */
.grid div.object { 
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background-color: #000;
    background-image: url("../img/object.png");
    color: #000;
    border-radius: 7px;
    padding-left: 4px;
    width: 72px;
    height: 72px;
}

.grid div.active {
    border-color: rgb(102, 175, 233);
    outline: 0px none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

/* Couleur des objets */
.grid div.orange    { background-color: #eb7b3b !important; }
.grid div.blue      { background-color: #5ab7af !important; }
.grid div.green     { background-color: #c6d75e !important; }
.grid div.yellow    { background-color: #fce96d !important; }

/* Hack du menu dropdown pour pouvoir mettre les raccourcis clavier */
.dropdown-menu > li > a {
    position: relative;
    padding-right: 70px;
}
.dropdown-menu > li > a > span.kbd {
    position: absolute;
    right: 20px;
    top: 3px;
}