/*
 * Main CSS
 * --------------------------
 * This code is a part of the Graf2Ard project.
 * He has been created by erdnaxe.
 * This project is under GPLv2 license.
 */

/*
 * Page CSS
 */
body{
    background: #fff left top repeat url("../img/grid-bg.png");
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar{
    margin-bottom: 0 !important;
}

.jumbotron{
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    margin-bottom: 0 !important;
}

.alert{
    margin-bottom: 16px;
    padding-bottom: 15px;
}

/*
 * Object selector dropdown
 */

/* Color in dropdown objects selector */
span.orange	{ color: #eb7b3b; }
span.blue	{ color: #5ab7af; }
span.green	{ color: #c6d75e; }
span.yellow	{ color: #fce96d; }

/* Hotkey in dropdown */
.dropdown-menu > li > a {
    position: relative;
    padding-right: 70px;
}
.dropdown-menu > li > a > span.kbd {
    position: absolute;
    right: 20px;
    top: 3px;
}


/*
 * GRID (sortable)
 */
#sortable { 
    width: 100%;
}
#sortable > div { 
    float: left;

    margin: 37px 15px 35px 9px;

    padding-left: 3px;
    height: 72px;
    width: 72px;

    color: #000;
    background-color: #fff;
    background-image: url("../img/object.png");

    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border-radius: 7px;
}
#sortable > div.active{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075) inset, 1px 1px 8px rgba(102, 175, 233, 1);
}
/* Objects color */
#sortable > div.orange    { background-color: #eb7b3b !important; }
#sortable > div.blue      { background-color: #5ab7af !important; }
#sortable > div.green     { background-color: #c6d75e !important; }
#sortable > div.yellow    { background-color: #fce96d !important; }